{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
   <table  class="style1">
    <thead>
        <tr>
            <th>Question</th>
            <th>Status</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        {% for question in latest_question_list %}
        <tr>
            <td>
                {% if question.can_vote %}
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                {% else %}
                <a style="color: rgb(128, 128, 128);">{{ question.question_text }}</a>
                {% endif %}
            </td>
            <td>
                {% if question.can_vote %}
                <b><a class="strokeme" style="color: rgb(0,100,0);">Voting is open.</a></b>
                {% else %}
                <b><a class="strokeme" style="color: rgb(255,0,0);">Voting is closed.</a></b>
                {% endif %}
            </td>
            <td>
                <span class="results-link">
                    <a href="{% url 'polls:results' question.id %}">Results</a>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% else %}
<p>No polls are available.</p>
{% endif %}
