{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.can_vote %}
        <li><a href="{% url 'polls:detail' question.id %}">
                {{ question.question_text }}
        </a></li>
        {% endif %}
        {% if not question.can_vote %}
        <li><a style="color: rgb(128,128,128);">
                {{ question.question_text }}
                    (Voting Closed)
        </a></li>
        {% endif %}
        <span class="results-link">(<a href="{% url 'polls:results' question.id %}">Results</a>)</span>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}